#wallppr {
  background: url(../../img/bmw.jpg) -700px;
  min-height: 859px;
  text-align: center;
  position: -400px;
}

#item {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.39);
}

#pic {
  margin: 5px;
  align-self: center;
}

.repair {
  font-size: large;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.39);
}
