.imagebackground {
    position: absolute;
    width: 414px;
    height: 205px;
    left: 0px;
    top: 1px;
  }

.imageicon{
    position: absolute;
width: 123px;
height: 53px;
left: 16px;
top: 8px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 53px;
  }
 

  .Form {
    position: absolute;
    width: 350px;
    height: 450px;
    left: 34px;
    top: 242px;
    
    background: #FFFFFF;
    border: 1px solid #C1C1C1;
    box-sizing: border-box;
    border-radius: 5px;
  }

  .productdesc{

width: 308px;
height: 123px;
left: 56px;
top: 490px;

background: #FFFFFF;
border: 1px solid #C1C1C1;
box-sizing: border-box;
border-radius: 5px;
  }
  .addcarttext{
  width: 96px;
  height: 27px;
  left: 268px;
  top: 589px;

  }