#tire-img {
  width: 100%;
}

h1 {
  text-align: center;
  padding: 10px;
}

.Form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #c1c1c1;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
.productdesc {
  width: 350px;
  height: 123px;
  background: #ffffff;
  border: 2px solid #c1c1c1;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 10px;
}

.tire-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tire-details span {
  font-weight: bold;
}

.car-details {
  background-color: whites;
  border-radius: 5px;
}

.details-nums {
  padding: 10px;
  margin-bottom: 5px;
  margin-right: 110px;
}

.addcarttext {
  background-color: #1e55e2;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  padding: 10px;
}

#mech-pic {
  width: 100%;
}

.Diagnose {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-weight: bold;
}

.Form p {
  font-weight: bold;
}

.imgbackground {
  width: 100%;
}

.productdesc {
  margin: 5px;
  padding: 10px;
}
