



@media screen and (max-width: 992px) {
    body {
      background-color: white;
      color: black;
    }
  }
  
  /* On screens that are 600px wide or less, the background color is olive */
  @media screen and (max-width: 600px) {
    body {
        width: 414px;
        height: 950px;
      background-color: white;
      color: black;
      position: relative;

    }

  }
.base-container{
position: relative;
width:414px;
height: 950px;
}

.header{
    font-size: 24px;
    color:#1E55E2
}
.content {
display:flex;
flex-direction: column;    
}


.image{
    width:21em;
  
}


.btn{
    border-radius: 10px;
    color:white;
    background-color:#1E7BE2; 
    border: white;
    width:373px;
    height: 63px;


}
.logtext{
    color:blue;
    background-color:white;
    border: white;

}

.header1{
    color:black;
}

 .contact-icon {
    background:url('/user.png');
    height: 20px;
    width: 20px;
    background-size: 100%;
    position: absolute;
    top:0px;
    left:0px;
  } 

  .email-icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
  }
  .password-icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
  }

.form-group{
    max-width: 200px;
    position: relative;
}
.fulname{
width:200px;
padding-left: 30px;

}