.login {
  text-align: center;
  margin: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 50px;
}

.form-group label {
  font-weight: bold;
  margin: 5px;
}

.form-group input {
  width: 60%;
  padding: 12px;
  border-color: rgba(0, 255, 255, 0.363);
  border-radius: 10px;

  margin: 0px;
  opacity: 0.85;
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}

input:hover {
  opacity: 1;
}

.footer {
  text-align: center;
  padding: 5px;
}
.footer p {
  margin: 15px;
  font-weight: bold;
}

.button {
  position: relative;
  left: 50px;
  background-color: blue;
  color: white;
  font-weight: bold;
}

.footer button {
  color: white;
  font-weight: bold;
  background-color: #1e55e2;
}

body {
  height: 910px;
}

.base-container {
  position: relative;
  border-radius: 5px;
  padding: 50px 0 30px 0;
}

.footer a {
  color: #1e55e2;
}

.reg-header {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 30px;
}

.car-details {
  text-align: center;
  border-color: rgba(0, 0, 0, 0.445);
  border-radius: 5px;
  background-color: white;
  font-size: large;
  margin: 0;
  padding: 5px;
}
